OPEN_API_KEY="" # your API key
OPEN_BASE_URL="https://openrouter.ai/api/v1" # this project currently using Openrouter's free models but you can change the endpoint to an OpenAI compatible one
SERPER_API_KEY="" # if you want to do searching (by default disabled)